@model VsacWeb.Models.UsuarioUrlsViewModel

@{
    ViewData["Title"] = "Creat";


}

<h1>Create</h1>

<h4>UsuarioUrls</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <strong>
                    <label asp-for="AppUserId" class="control-label"></label>
                </strong>
                <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
            </div>



                <hr />
            <div class="form-group">
                <strong>
                    <label asp-for="UrlIds" class="control-label"></label>
                </strong>


                @*<select multiple="multiple" class="selectpicker" data-live-search="true" id="my_multi_select1" asp-for="UrlIds"
            asp-items="ViewBag.UrlId"></select>*@
            </div>


            @foreach (string key in @Model.KeyUrls.Keys)
            {
                <div class="form-group">
                    <label class="control-label">@key</label>
                </div>

                <div class="form-group">
                        <select class="selectpicker"
                                asp-for="UrlIds" 
                                asp-items="@Model.KeyUrls[key]"  multiple data-actions-box="true">
                        </select>
                    
                    </div>
            }

            <hr />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}



